.wrapper {
  text-align: center;
  border-bottom: 1px solid rgb(110, 110, 110);
  width: 50%;
  margin-inline: auto;
}

.wrapper__header--primary {
  font-weight: bold;
}

.warpper__actions__button--delete {
  font-size: 24px;
  all: unset;
  cursor: pointer;
  padding: 4px;
  border: 2px solid black;
  border-radius: 4px;
  font-weight: bold;
  margin-block: 16px;

  background-color: #f18383;
}

.warpper__actions__button--delete:hover {
  background-color: #fcadad;
}
