.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;

}

.wrapper__button--add {
  all: unset;
  cursor: pointer;

}

.wrapper__input--primary, .wrapper__button--add {
  font-size: 24px;
  padding: 8px;
  border-radius: 4px;
  border: 1px solid black;
  margin-inline: 4px;
}


.wrapper__button--add:hover {
  background-color: rgb(110,110,110);

}





