<div class="navigation">
  <h1 class="navigation__h1--primary">Todo List v2</h1>
  <div class="wrapper">
    <a
      class="wrapper__button--primary"
      routerLink="/todo-list"
      routerLinkActive="wrapper__button--active"
      ariaCurrentWhenActive="page"
      >Todo List</a
    >
    <a
      class="wrapper__button--primary"
      routerLink="/todo-list-add"
      routerLinkActive="wrapper__button--active"
      ariaCurrentWhenActive="page"
      >Add Todo</a
    >
  </div>
</div>
<router-outlet></router-outlet>
